<h2>Esqueceu a senha?</h2>

<br />

<div class="container">
  <div class="divider"></div>
  <br /><br />
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e-mail", class: 'form-input' %>
    </div>

    <br /><br />

    <div class="actions">
      <%= button_tag(type: "submit", class: "waves-light btn-floating btn-large green", name: "commit", value: "Submit") do %>
        <i class='fas fa-check'></i>
      <% end %>

      <%= link_to raw("<i class='fas fa-arrow-left'></i>"), new_session_path(resource_name), class: 'waves-light btn-floating btn-large blue' %><br />
    </div>
  <% end %>
</div>

<br />
