<h1>Login</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container ">
    <div class="divider"></div>
    <br /><br />

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input', placeholder: "e-mail" %>
    </div>

    <br />

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-input', placeholder: "senha" %>
    </div>

    <br /><br />

    <div class="actions">
      <%= button_tag(type: "submit", class: "waves-light btn-floating btn-large green", name: "commit", value: "Submit") do %>
        <i class='fas fa-check'></i>
      <% end %>

      <%= link_to raw("<i class='fas fa-question'></i>"), new_password_path(resource_name), class: 'waves-light btn-floating btn-large red' %><br />
    </div>
    <br />
  </div>
<% end %>
