<h1>Items</h1>

<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= form_tag item_mark_as_bought_path(item), method: 'put' do %>
            <%= hidden_field_tag :item_id, item.id %>
        <td><%= item.quantity %></td>
        <td><%= link_to item.description, edit_item_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
