<h1>
  <% if @item.quantity == @item.quantity.to_i %>
    <%= @item.quantity.to_i %>
  <% else %>
    <%= number_with_precision(@item.quantity, separator: ',', precision: 2, delimiter: '.') %>
  <% end %>
  <%= @item.unity.initials %>
  <%= @item.description %>
  <% if !@item.brand.blank? %>
    - <%= @item.brand %>
  <% end %>
</h1>

<div class="container align-center">

  <div class="divider"></div>

  <br />

  <p>
    <strong>Requisitado por:</strong>
    <%= @item.user.name %>
  </p>
  
  <% if !@item.category.blank? %>
    <p>
      <strong>Categoria:</strong>
      <%= @item.category.description %>
    </p>
  <% end %>

  <div class="divider"></div>
  <br />

  <%= link_to raw("<i class='fas fa-arrow-left'></i>"), items_path, class: 'waves-light btn-floating btn-large red' %><br />
</div>

<br />