<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.description %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @item.unity.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
