<!DOCTYPE html>
<html>
  <head>
    <title>tobuy_list</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>

  <body>
      <br />
      <% if current_user.nil? %>        
          <% flash.each do |message_type, message| %>
            <%= javascript_tag "M.toast({html: '#{message}', classes: 'rounded #{message_type}'})" %>
          <% end %>
          <div class="align-center login-body container">
            <%= yield %>
          </div>
          <br /><br />
      <% else %>
        <div class="container system-body">
          <% flash.each do |message_type, message| %>
            <%= javascript_tag "M.toast({html: '#{message}', classes: 'rounded #{message_type}'})" %>
          <% end %>
          <%= yield %>
          <br /><br>
        </div>
      <% end %>
  </body>
</html>
